@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

body{
    background-color: white;  
}
#container{
    
    display: grid;
    grid-template-rows: 1fr 1fr ;
    text-align: center;
   
}
#intro{
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;

    h2{
        color:white;
        font-family: 'Alkalami', serif;
        text-transform: capitalize;
       font-size:50px;
    } 
    p{
        color:white;
        font-family: 'Alkalami', serif;
        text-transform: capitalize;
       font-size:36px;
    }
   
}
//img{
    //width: 300px;
    //height: auto;
    //align-items: center;}

